//
//  Production.xcconfig
//  GitHub
//
//  Created by Min Thant on 10/09/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_BUNDLE_DISPLAY_NAME = Production
APP_BUNDLE_IDENTIFIER = me.minthant.GithubApp
HOST_NAME = api.github.com
API_KEY =
